@import "../styles/mixin";
.container {
  margin: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  .holdcontent {
    margin: 2rem;
    display: flex;
    position: relative;
    .logo {
      flex: 1;
      font-weight: 600;
      transform: translateY(-0.4rem);
      a {
        font-size: 2rem;
        text-decoration: none;
        color: rgb(4, 14, 198);
        letter-spacing: -0.04em;
      }
    }
    .navlinks {
      flex: 1;
      margin-left: auto;
      text-align: right;
      ul {
        li {
          display: inline-block;
          margin-left: 2rem;
          a {
            display: block;
            position: relative;
            color: black;
          }
        }
      }
    }
  }
}
